body {
  margin: 10;
  font-family: georgia;
  background-color: #333;
}

header {
  background-color: #0000ff;
  color: white;
  font-family: georgia;
  padding: 30px;
  text-align: center;
}

#map {
  height: 80vh;
  width: 80%;
  margin: auto;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  color: #c41010;
}